.entete__nav{
    display : flex;
    justify-content: space-between;
    align-items: center;


}

// .site__titre {
//     font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
//     font-size: 3em;
//     display: flex;
//     align-items: center;
//     justify-content: center;
    
//     background-image: conic-gradient(#9986ce 20%, #ee4b2b 50%, #ee4b2b 60%, #00c2cb 60%, #a699cb);
//     color: transparent;
//     background-clip: text;
//     -webkit-background-clip: text;
    

// }

h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: conic-gradient(#553c9a 30%, #ee4b2b 40%, #ee4b2b 70%, #00c2cb 80%, #553c9a);
    
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    box-shadow: inset 0 0 0 0 #000000;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;


}

h1 a {
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: conic-gradient(#9986ce 20%, #ee4b2b 50%, #ee4b2b 60%, #00c2cb 60%, #a699cb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h1:hover {
    box-shadow: inset 5000px 0 0 0 #b43434;
    color: rgb(0, 0, 0);
  }
/* ///////////////////////////////// menu__entete */
.menu__entete{ // nav

    .menu { // ul
            font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
            display : flex;
            list-style-type: none;
            justify-content: flex-end;
        .menu-item { // li
            
            a{
                padding : 5px 20px;
                text-decoration: none;
                border-left: 0.1em solid red;
            }
            a:hover {
                box-shadow: inset 5000px 0 0 0 #b43434;
                color: rgb(0, 0, 0);
            }


        }

    }

}