.site__footer{
    display: flex;
    //grid-area: footer;

    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: rgb(10, 42, 80);
    @media screen and (max-width: $largeur__tablette) {
        display: block;
    }
    @media screen and (max-width: $largeur__mobile) {
        display: block;
    }



    .footer__col:first-of-type {
        width: 20vw;
        
        .sidebar {
            position: relative;
            width: 100%;

            &::after {
                content: '';
                display: block;
                padding-bottom: 75%;
            }

            .widget_block {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;;
            }

            figure,
            .wp-block-embed__wrapper,
            iframe {
                height: 100%;
                margin: 0;
                width: 100%;
            }
        }
    }

}


/*
#block-7 {
    width: auto;
    height: 20px;
    @media screen and (max-width: $largeur__mobile) {
        display: none;
    }

}
*/

.footer__col {
    width: 30em;
    
}

.footer__col div {
    margin-left: 10px;
}

.footer__col div ul {
    list-style-type: none;

}